.Accontsettig-box{
    background-color: #f3f3f3;
    padding: 70px 0px;
}

.account-outer-box {
    /* display: flex; */
    background-color: #fff;
    padding: 10px 30px;
}

.parallel-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.outer-accout {
    box-shadow: 0px 5px 12px -3px gray;
    padding: 15px 20px 30px 20px;
    background-color: #000000;
}

.outer-accout h6{
    font-size: 20px;
    font-weight: 600;
    color:#fff;
    margin-bottom: 10px;
}
a.account-setting-btns {
    background-color:#138578;
    color: #fff;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 50px;
    border: 1px solid #138578;;
}

a.account-setting-btns:hover{
    text-decoration: none;
    background-color:#fff; 
    color:#000;
    border:1px solid #138578;
}
.quick-box {
    background-color: #000;
    padding: 60px 30px;
  
    text-align: center;

}

.quick-box:hover {
    background-color: #138578;
    color: #fff;
    transform: translateY(-10px);
    transition: 0.6s;
    
    box-shadow: 5px 12px 14px -5px gray;
}

.quick-box h3 {
    margin: 30px;
    font-size: 16px;
    color: #fff;
}

svg.acoount-icons {
    color: #fff;
    font-size: 60px;
}