.banner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    text-align: center;
}
.home-banner-space{
    margin-top: 30px;
}
.banner-box h1{
    font-size: 45px;
    font-weight: 700;
   
}
.banner-box  p{
    padding: 0px 100px;
    margin-bottom: 0px;
}
span.talent {
    color: #138578;;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.talent-left-box p  {
    padding-left: 150px;
    font-size: 20px;
    font-weight: 400;
    
}

p.talent{
    padding-left: 40px;
    font-size: 20px;
    font-weight: 400;
}

h3.em-heading {
    font-size: 40px;
    font-weight: 600;
}
h3.Talent-heading {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    word-spacing: 4px;
    position: relative;
}



h3.Talent-heading:before {
    position: absolute;
    content: "";
    width: 14%;
    border: 3px solid #138578;
    bottom: -10px;
    margin: 0 auto;
    left: 0;
    right: 0;
}


h3.Talent-heading:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    top: 70px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: black;
    border-radius: 50px;
}

.Talent-search-box {
  
    display: flex;
    justify-content: end;
}



input.box-search.form-control {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    
}

.outer-box-search.mb-3.input-group {
    border: 1px solid #7c7c7c7c;
    border-radius: 50px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    width: 80%;
}

button.talent-btnss {
    background-color: #138578;
    padding: 3px 30px 6px 30px;
    border-radius: 50px;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    border: 1px solid #138578;
    color: #fff;
    margin-left: 0px !important;
    font-size: 16px;
    font-weight: 500;
}
.space {
    padding: 100px;
}

.points-lists  ul  li  {
    padding: 5px 0px;
 list-style-type:none
}

.points-lists  ul  li a {
    color: #555 !important;
    font-size: 16px;
    font-weight: 400;
    
}
a.more-skillss {
    padding: 8px 30px;
    border: 1px solid #138578;
    border-radius: 50px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
a.more-skillss:hover{
    background-color: #138578 ;
    color: #fff;
}


.more-box {
    text-align: center;
}


a.leftarrow-btn {
    background-color: #138578 ;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
a.leftarrow-btn.mr-1:hover ,a.leftarrow-btn:hover  {
    color: #fff;
}
.roundd-box {
    background-color: #7e7e7e12;
    padding: 40px;
    border-radius: 50px;
    margin: 20px 10px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.person {
    width: 70px;
    height: 70px;
}

.card {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

h4.card-title {
    color: #138578 ;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.space2{
    padding: 30px 0px;
}
.arrows-box {
    text-align: right;
}

@media screen and (max-width: 600px) {
    span.navbar-brand {
        width: 50%;
    }
    .banner-box{
        padding: 20px;
        text-align: left;
    }
    .banner-box h1 {
       
        font-size: 25px;
    }
    .banner-box h1 br{
        display: none;
    }
    .banner-box p{
        padding: 0px 0px;
    }
    
    .Talent-search-box{
        justify-content: center;
    }
    .talent-left-box p{
        padding-left: 0px;
        text-align: center;
    }
    p.talent {
        text-align: center;
        padding-left: 0px;
    }
    
    .work-search-box {
        justify-content: center;
        display: flex;
    }
    .outer-box-search.mb-3.input-group{
        width: 95%;
    }
    .space {
        padding: 20px;
    }
    h3.Talent-heading {
        font-size: 31px;
    }
    h3.em-heading {
        font-size: 25px;
        text-align: center;
    }
    .arrows-box {
        text-align: center;
        margin: 10px 0p;
    }
    .space2 {
        padding: 14px 0px;
    }
    
  }