.online-jobs-joobseeeker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onlinejob-box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 40px;
    padding: 40px 30px;
}


.jobss-infoo {
    text-align: center;
    padding: 30px 72px;
}
.jobss-infoo h2{
font-weight: 600;
font-size: 30px;
}
.middle-box-bnts {
    margin: 30px 0px 70px 0px;
    text-align: center;
}
.onlinejob-info h3 span {
     background-color:#13857826;
    padding:7px;
    border-radius: 5px;
    font-size:12px;
    color: #138578;
    font-weight: 600;
    border: 1px solid #138578;
    margin-left: 14px;
}
.job-time {
    margin: 10px 0px;
}
.onlinejob-info p {
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}
.linee {
    border: 1px solid #696a6a26;
    margin: 15px 0px 0px 0px;
}
.inline-skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
    p.skills {
        background-color: #8080801f;
        margin: 5px 3px 5px 3px  !important;
        padding: 7px 25px;
        color: #555;
        border-radius: 5px;
        margin-bottom: 10px !important;
    }

    span.price {
        background-color: #8080809e;
        padding: 5px 5px 5px 8px;
        border-radius: 50%;
        color: #fff;
        margin-right: 10px;
    margin-left: 10px;
    }

    section.find-online-jobs {
        background-color: #8080801f;
    }



    p.short {
        margin: 20px 0px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
        line-clamp: 5;
        -webkit-box-orient: vertical;
        
      }
      
      


/* single details job pages  */

section.single-job-post-jobseeker {
    background-color: #000;
    color: #fff;
    padding: 100px;
}

.jobseeker-post-banner{
    text-align: center;
    padding: 30px;
}
.jobseeker-post-banner h3{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}
.sameee-boxx {
    margin-top: -50px !important ;
    margin-bottom: 50px;
    display: flex;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 30px 20px 10px 40px !important;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.types-box {
    display: flex;
}
svg.singlee-icons {
    font-size: 40px;
    color: #138578;
}

.works-info {
    margin-left: 20px;
}

.works-info  h5 {
    font-size:18px;
    font-weight:600;
    text-transform:uppercase;
    margin-bottom: 0px;
    
}
a.editjobs {
    text-decoration: none;
    color: #138578;
    font-size: 14px;
}

a.Deletejobs {
      text-decoration: none;
      color: #000;
      font-size: 14px;
      margin-left:10px;
}
.onlinejob-info h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;

    margin-bottom: 20px !important;
}
/* jobseeeker profile css start here */

section.jobseeker-profile {
    background-color: #000;
    padding: 50px 0px 0px 0px;
    text-align: center;
}

.profile-person {
    /* margin-top: 50px; */
    position: relative;
    top: 30px;
}

.jobseeker-profilejobtype {
    text-align: center;
    padding: 100px 0px;
}

section.graybg {
    background-color: #f1f1f1;
    padding: 50px;
}

.profile-left-outer-box ,.right-profile  {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

