.inner-box-one{
box-shadow: rgba(100, 100, 111, 0.2) 5px 5px 14px 0px;   
    width: 100%;
    border: 2px solid 
white;
 padding:40px 20px;

 margin: 50px auto !important;
}


.outer-box {
  

    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.logo-images-box {
    width: 50%;
}
.inner-box {
    width: 50%;
    margin: 30px 30px;

 
}
.outer-inputss.mb-3.input-group {
    background-color: #e8f0fe;
}

.serach-icons {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0px 12px;
}

button.loginbtn.btn.btn-secondary {
    border: 2px solid #138578;

    background-color: #138578 ;
    color: #fff;
    padding: 5px 30px;
    outline: none;
   
}
