*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
h1, h2, h3 , h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}


p{
    font-family: 'Nunito', sans-serif;
    color:#555;
    font-weight: 400;
}
a,link{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
a:hover{
    text-decoration: none;
}

/* common css */








